<h1> Triage </h1>
<!--Use for desiging forms-->
<form class="pure-form pure-form-aligned">
    <fieldset>
        <div class="pure-control-group">
            <label for="name"> Name </label>
            <input required type="text" id="name" [(ngModel)]="name" name="name">
            
        </div>

        <div class="pure-control-group">
            <label for="weight"> Weight </label>
            <input required type="text" id="weight" [(ngModel)]="weight" name="weight">
        </div>

        <div class="pure-control-group">
            <label for="height"> Height </label>
            <input required type="text" id="height" [(ngModel)]="height" name="height">
            
        </div>

        <div class="pure-control-group">
            <label for="bloodpressure"> Blood Pressure </label>
            <input required type="text" id="bloodpressure" [(ngModel)]="bloodpressure" name="bloodpressure">
            
        </div>

        <div class="pure-control-group">
            <label for="oxygenlevel"> Oxygen Level </label>
            <input required type="text" id="oxygenlevel" [(ngModel)]="oxygenlevel" name="oxygenlevel">
            
        </div>

        <div class="pure-control-group">
            <label for="temp"> Temp </label>
            <input required type="text" id="temp" [(ngModel)]="temp" name="temp">
            
        </div>
        <div class="pure-controls">
            <button type="submit" class="pure-button button-ghazal" (click)="registerVitals()"> Register Vitals</button>  
        </div>
    </fieldset> 
    
    <table class="pure-table pure-table-bordered">
        <thead>
            <tr>
                <th>Patient</th>
                <th>Height</th>
                <th>Weight</th>
                <th>Blood Pressure</th>
                <th>Temperature</th>
                <th>Oxygen</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of listOfPatients">
                <td>{{patient.name}}</td>
                <td>{{patient.height}}</td>
                <td>{{patient.weight}}</td>
                <td>{{patient.bloodpressure}}</td>
                <td>{{patient.temp}}</td>
                <td>{{patient.oxygenlevel}}</td>
                <td>
                    <button class="pure-button button-error" (click)="deletePatient()">
                        X
                    </button>
                    </td>
            </tr>
        </tbody>
    </table>
</form>

